@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
  --primary-bg: linear-gradient(270deg,#004e8c,#0078d4);
  --primary-bg-reverse: linear-gradient(270deg, #0078d4, #004e8c);
  --primary-green-bg: linear-gradient(270deg, #57D163, #24B43B );
  --primary-text-color : #000;
  --font-family-primary : 'Space Grotesk', sans-serif;
  --body-bg : #ECF0F5;
}
body{
  margin: 0;
  padding: 0;
  font-size: 18px;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  background: var(--body-bg)!important;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, span, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   background: transparent;
}
p a{
  background: transparent !important;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
   display: block;
}
textarea{
	outline:none !important;
}

audio,
canvas,
video {
   display: inline-block;
}
a{
  outline: none !important;
}

audio:not([controls]) {
   display: none;
   height: 0;
}

[hidden] { display: none; }

code, kbd, pre, samp {
   font-family: var(--font-family-primary);
   font-size: 1em;
}

pre {
   white-space: pre;
   white-space: pre-wrap;
   word-wrap: break-word;
}

blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}

ins {
   background-color: #ff9;
   color: #000;
   text-decoration: none;
}

mark {
   background-color: #A7F4F6;
   color: #555;
}

del { text-decoration: line-through; }

abbr[title], dfn[title] {
   border-bottom: 1px dotted;
   cursor: help;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}
button{
  outline: none !important;
}
input
{
    outline:none !important;
}
textarea{
  outline: none !important;
}
/******* End default css *************/

h1,h2,h3,h4,h5,h6,p{
  margin:0;
  padding:0;
}
ul{
  margin:0;
  padding: 0;
  list-style: none;
}
a{
  margin:0;
  padding:0;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.full_wrapper {
	max-width: 500px;
	width: 100%;
	margin: auto;
	overflow: hidden;
}
.pxy{
  padding: 10px 15px;
}
.px10{
  padding: 10px;
}
.flex{
  display: flex;
}

/*****======== start summery area css ==========*****/
.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #3b5998; */
  /* background: linear-gradient(270deg,#004e8c,#0078d4); */
  background: var(--primary-bg);
  /* border-radius: 0px 0px 10px 10px; */
  padding-top: 5px;
}
.bonik-logo {
  text-align: center;
}
.user-profile{
  text-align: center;
}
.user-profile h5 {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}

.bonik-logo h2 {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.1;
  display: block;
  padding-bottom: 3px;
  font-weight: 700;
}
.bonik-logo h4 {
  font-size: 16px;
  color: #fff;
  line-height: 1.1;
  font-weight: 500;
  padding-bottom: 3px;
}
.mobile-menu i,
.user-profile i {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.sales-summery-main-inner-content {
  margin-bottom: 10px;
}
.summery-input {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}
.purchase-summery-input{
  grid-template-columns: repeat(3, 1fr);
}
.sales-summery-main {
  /* background: #fff7f7; */
  background: var(--body-bg);
  position: relative;
  top: -6px;
  border-radius: 11px 11px 0px 0px;
}
select{
  outline: none;
}
.single-summery > input,
.single-summery > select {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  color: var(--primary-text-color);
  border-radius: 3px;
  border: 1px solid #a89999;
  font-size: 14px;
  /* background: #EAF3FF; */
  box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
}

.single-summery span {
  width: 100%;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  color: var(--primary-text-color);
  border-radius: 3px;
  border: 1px solid #a89999;
  font-size: 14px;
  background: #fff;
  box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
  min-height: 22px;
  display: block;
  padding: 0px 2px;
  box-sizing: border-box;
  line-break: anywhere;
}


.summery-title > h2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  /* background: linear-gradient(270deg, #57D163, #24B43B ); */
  background: var(--primary-green-bg);
  padding: 5px 15px;
  margin-bottom: 5px;
  border-radius: 3px;
  color: #fff;
}
.single-summery h6 {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-text-color);
  font-family: 'Space Grotesk', sans-serif;
}
.start-time-range-area {
  padding-top: 0px;
  background: #C9DAFF;
  margin-bottom: 58px;
  border-radius: 0px 0px 30px 30px;
  position: fixed;
  z-index: 99;
  bottom: 0;
  max-width: 480px;
  width: 100%;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}
.time-range-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.ex-margin-bottom {
  margin-bottom: 110px;
}

.salse-graph-area {
  margin-top: -30px;
  position: relative;
}
.bar-graph,
.multi-line-graph {
  text-align: center;
}
.sal-heading {
  text-align: center;
  background: var(--primary-green-bg);
  display: inline-block;
  padding: 6px 38px;
  color: #fff;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 14px;
}
.box {
  width: 16px;
  height: 16px;
  background: green;
  border-radius: 5px;
  line-height: 16px;
  margin: 0 auto;
  margin-right: 5px;
}
.bar2 .box{
  background: red;
}
.bar3 .box{
  background: blue;
}
.bar1 span {
  font-size: 12px;
  font-weight: 600;
  color: #000;
}
.bar1 {
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  margin-right: 2px;
}


.footer-menu-area {
  position: fixed;
  bottom: 0;
  z-index: 9;
  max-width: 500px;
  width: 100%;
  background: var(--body-bg);
}

.footer-menu {
  /* background: #fff; */
  padding: 10px 3px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  border-radius: 0px 0px 25px 25px;
  border: 1px solid #ddd;
  /* background: linear-gradient(270deg, #0078d4, #004e8c); */
  background: var(--primary-bg-reverse);
  padding-top: 40px;
  padding-bottom: 5px;
}

.footer-menu > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-menu > ul > li {
  display: block;
  margin: 0px 14.5px;
}
.footer-menu > ul > li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  transition: 0.5s;
  position: relative;
}

.footer-menu > ul > li a i {
  position: relative;
  z-index: 9;
  /* transition: 0.5s; */
}

.footer-menu > ul > li:hover a i {
  /* transition: 0.5s; */
  bottom: 7.5px;
  color: #000;
}
.footer-menu > ul > li.nav-link.active a i {
  /* transition: 0.5s; */
  bottom: 7.5px;
  color: #000;
}

.footer-menu > ul > li a::after {
  position: absolute;
  content: "";
  transition: 0.5s;
  border: 3px solid #cccaca;
  width: 30px;
  text-align: center;
  height: 30px;
  line-height: 33px;
  border-radius: 50px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
  top: -18px;
  /* box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.3); */
  /* z-index: 999; */
  background: #fff;
  opacity: 0;
  visibility: hidden;
}
.footer-menu > ul > li:hover a::after  {
  transition: 0.5s;
  visibility: visible;
  opacity: 1;
}
.footer-menu > ul > li.nav-link.active a::after  {
  transition: 0.5s;
  visibility: visible;
  opacity: 1;
}



/*================= other page = salse page css =================*/
table, th, td {
  border: 1px solid #a89999;
  border-collapse: collapse;
  font-size: 14px;
  color: var(--primary-text-color);
  padding: 0px 5px;
  text-align: left;
  line-break: anywhere;
}
.sales-summery-table.px10 {
  padding-top: 0px;
  margin-bottom: 175px;
}

.sales-summery-table tr td:first-child, 
.sales-summery-table tr th:first-child {
  text-align: start;
}
.sales-summery-table tr {
  height: 18px;
}
.sales-summery-table table tr:nth-child(even) {
  background: #fff;
}

/* tab */
.salse-tab-main .niiceeTabBtn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}
.salse-tab-main ul li a {
  background: var(--primary-green-bg);
  display: block;
  padding: 5px 10px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  transition: 0.5s;
}
.salse-tab-main ul li:hover a {
  transition: 0.5s;
  background: linear-gradient(270deg, #24B43B, #57D163 );
  color: #000;
}
.salse-tab-main {
  position: fixed;
  bottom: 110px;
  max-width: 500px;
  width: 100%;
  background: var(--body-bg);
  padding-bottom: 5px;
}




.niiceeTabBtn button {
  background: var(--primary-green-bg);
  display: block;
  padding: 5px 10px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  transition: 0.5s;
  border: none;
  font-family: var(--font-family-primary);
  cursor: pointer;
}
.niiceeTabBtn button:hover,
.niiceeTabBtn button.active {
    transition: 0.5s;
    background: var(--primary-bg-reverse);
    color: #fff;
}
.tabcontent {
  display: none;
  animation: fadeEffect 1s;
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}